.container {
  width: 60%;
  margin: 5rem auto;
  text-align: center;
}

.container img {
  width: 40%;
  border-radius: 50%;
}

.container p {
  font-size: 2em;
  text-align: justify;
}

@media (max-width: 1279px){
  .container {
    width: 80%;
  }

  .container img {
    width: 75%;
  } 

  .container p {
    text-align: center;
  }
}